body {
	margin:0px;
	padding:0px;
	background-color:RGB(200,200,200);
}
header {
	width:100%;
	height:50px;
	background-color:RGB(66,66,66);
}
#headerh {
	color:RGB(248,248,255);
	display:inline;
	font-family:arial;
	font-size:24px;
	color:white;
	position:relative;
	top:10px;
}

.header-login {
	position:relative;
	bottom:24px;
	right:10px;
	display:flex;
	justify-content:flex-end;

}
.headerinput {
    width: 150px;
    height: 40px;
    text-align: center;
    margin-left: 10px;
    border: solid 1px;
    border-radius: 5px;
	margin-left:5px;
}


#reg {
    width: 150px;
    height: 40px;
    border: solid 1px;
    border-radius: 5px;
    border-color: RGB(66,66,66);
    background-color: RGB(248,248,255);
    color: RGB(66,66,66);
    font-size: 16px;
    font-weight: bold;
	margin-left:20px;
}
#reg:hover {
	cursor:pointer;
	background-color:RGB(180,180,180);
}
#login {
	width: 150px;
    height: 40px;
    border: solid 1px;
    border-radius: 5px;
    border-color: RGB(66,66,66);
    background-color: RGB(248,248,255);
    color: RGB(66,66,66);
    font-size: 16px;
    font-weight: bold;
	margin-left:5px;
}
#login:hover {
	cursor:pointer;
	background-color:RGB(180,180,180);
}
#all {
	margin-top:0px;
	width:100%;
	height:94.85%;
}
#main {
	width:70%;
	margin:auto;
	background-color:white;
	height:100%;
}
#form {
	text-align:center;
	padding:20px;
	background-color:RGB(200,200,200);
	width:25%;
	margin:auto;
	border:solid 1px;
	position:relative;
	top:15%;
}
#hdx {
	font-size:25px;
	font-weight:bold;
	color:RGB(50,50,50);
	text-align:center;
}

.inputd {
	text-align:center;
	width:90%;
	height:4%;
	border:solid 1px grey;
	border-radius:4%;
	margin-bottom:2%;
}

#loginn {
	width:90%;
	height:4%;
	border:solid 1px grey;
	border-radius:4%;
	font-size:16px;
	font-weight:bold;
	color:white;
	background-color:RGB(66,66,66);
}

#loginn:hover {
	background-color:RGB(171,171,171);
}
h3 {
	color:RGB(50,50,50);
}
.errormsgbox {
	width:90%;
	height:4%;
	border:solid 1px red;
	border-radius:4%;
	margin:auto;
	background: rgba(204,0,0,0.2);
	margin-bottom:3%;
}
.errormsg {
	color:red;
	font-size:100%;
	font-weight:bold;
	position:relative;
	bottom:8px;
}

#play {
	width:40%;
	height:6%;
	font-size:19px;
	font-weight:bold;
	color:white;
	background-color:RGB(66,66,66);
	border:solid 1px rgb(66,66,66);
	border-radius:10px;
}
#play:hover {
	background-color:rgb(120,120,120);
	cursor:pointer;
}


/*<--------------------------->
  <--------------------------->
  <--------Kategorie---------->
  <--------------------------->
  <--------------------------->
*/

#stand_all {
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	width:84%;
	font-family:arial;
	font-size:18px;
	text-align:center;
	font-weight:bold;
}

#richtig {
	border:solid 1px;
	border-color:RGB(2 153 2);
}

#richtig p {
	color:RGB(2 153 2);
}
#falsch {
	border:solid 1px;
	border-color:RGB(230 8 8);
	margin-top:0.5%;
	color:RGB(230 8 8);
}

#rand {
	border:solid 1px;
	border-color:RGB(92 95 99);
	margin-top:0.5%;
}
#fullkattegories {
	display:flex;
	justify-content:center;
}
.spalte {
	width:19.5%;
	margin-left:10px;
	position:relative;
	right:5px;
	top:30px;
}
.auswahl {
	font-weight:bold;
	font-size:16px;
	width:100%;
	height:5%;
	margin-bottom:0.5%;
	display:block;
	background-color:rgb(0,134,139);
	border:solid 1px;
}
.auswahl:hover {
	cursor:pointer;
}
.kategorie {
	font-weight:bold;
	font-size:16px;
	width:99.3%;
	height:5%;
	margin-bottom:0.5%;
	border:solid 1px;
	background-color:rgb(74,112,139);
}
.kategorie_schrift {
	text-align:center;
}

#submit_kategorie {
	width:10%;
	height:4.5%;
	background-color:green;
	border:solid 1px black;
	border-radius:5px;
	color:white;
	font-size:18px;
	font-weight:bold;
	float:right;
	position:relative;
	top:50px;
	right:6px;
}

#submit_kategorie:hover {
	cursor:pointer;
}

