/*
  <--------------------------->
  <--------------------------->
  <----------Header----------->
  <--------------------------->
  <--------------------------->
*/
	header {
		width:100%;
		height:50px;
		background-color:RGB(093,071,139);
		opacity: 0.9;
	}
	#logo {
		width:50px;
		height:50px;
		display:inline;
	}
	#headerh {
		color:RGB(248,248,255);
		display:inline;
		font-family:arial;
		font-size:24px;
		color:white;
		position:relative;
		bottom:20px;
	}

	.header-login {
		position:relative;
		bottom:50px;
		right:10px;
		display:flex;
		justify-content:flex-end;
	}
	.headerinput {
		width: 150px;
		height: 40px;
		text-align: center;
		margin-left: 10px;
		border: solid 1px;
		border-radius: 5px;
		margin-left:5px;
	}

	#reg {
		width: 150px;
		height: 40px;
		border: solid 1px;
		border-radius: 5px;
		border-color: RGB(66,66,66);
		background-color: RGB(248,248,255);
		color: RGB(66,66,66);
		font-size: 16px;
		font-weight: bold;
		margin-left:20px;
	}
	#reg:hover {
		cursor:pointer;
		background-color:RGB(180,180,180);
	}
	#login {
		width: 150px;
		height: 40px;
		border: solid 1px;
		border-radius: 5px;
		border-color: RGB(66,66,66);
		background-color: RGB(248,248,255);
		color: RGB(66,66,66);
		font-size: 16px;
		font-weight: bold;
		margin-left:5px;
	}
	#login:hover {
		cursor:pointer;
		background-color:RGB(180,180,180);
	}

/*
  <--------------------------->
  <--------------------------->
  <-----------index----------->
  <--------------------------->
  <--------------------------->
*/
	body {
		margin:0px;
		padding:0px;
		background-color:RGB(200,200,200);
	}
	#all {
		margin-top:0px;
		width:100%;
		height:89.8%;
	}
	#main {
		width:70%;
		margin:auto;
		background-color:white;
		height:100%;
	}
	#form {
		text-align:center;
		padding:20px;
		background-color:RGB(093,071,139);
		background-image: linear-gradient(rgba(093,071,139), rgba(135,206,255));
		width:25%;
		margin:auto;
		border:solid 1px;
		border-radius:6%;
		position:relative;
		top:15%;
	}
	.ueberschrift {
		color:white;
	}
	#p {
		font-size:18px;
		color:white;
	}
	.link {
		font-size:20px;
		color:rgba(70,70,70);
	}
	footer {
		width:100%;
		height:5%;
		background-color:RGB(093,071,139);
		opacity: 0.9;
	}
/*
  <--------------------------->
  <--------------------------->
  <----------signup----------->
  <--------------------------->
  <--------------------------->
*/
	#hdx {
		font-size:25px;
		font-weight:bold;
		color:RGB(50,50,50);
		text-align:center;
	}

	.input {
		text-align:center;
		width:90%;
		height:4%;
		border:solid 1px grey;
		border-radius:5%;
		margin-bottom:2%;
	}

	#main_login {
		width:90%;
		height:4%;
		border:solid 1px black;
		border-radius:5%;
		font-size:16px;
		font-weight:bold;
		color: RGB(110,110,110);
		cursor: pointer;
		background-color:RGB(248,248,255);
	}

	#main_login:hover {
		background-color:RGB(171,171,171);
	}
	h3 {
		color:RGB(50,50,50);
	}
	.errormsgbox {
		width:90%;
		height:4%;
		border:solid 1px red;
		border-radius:4%;
		margin:auto;
		background: rgba(204,0,0,0.2);
		margin-bottom:3%;
	}
	.errormsg {
		color:red;
		font-size:100%;
		font-weight:bold;
		position:relative;
		bottom:8px;
	}
	#lostpwd {
		color:white;
		text-decoration:none;
		font-size:18px;
	}
/*
  <--------------------------->
  <--------------------------->
  <--------Kategorie---------->
  <--------------------------->
  <--------------------------->
*/

#kategorieall{
	margin-left:1%;
	display: flex;
	flex-wrap: nowrap;
}

#box {
	width:80%;
	height:150px;
	border:solid 2px gray;
	border-radius:8px;
	margin:auto;
	background-color:rgba(108,166,205);
	color:white;
	opacity: 0.8;
	text-align:center;
	position:relative;
	top:50px;
	margin-bottom:30px;
	}

#p {
	font-size:20px;
}


.spalte {
	width:20%;
	text-align:center;
	color:white;
	font-size:20px;
	margin-top:5%;
	margin-right:0.5%;
}


.button {
	background-color:rgb(108,166,205);
	width:100%;
	display:block;
	height:50px;
	text-align:center;
	color:white;
	font-size:20px;
	cursor: pointer;
}


.kattegorie {
	width:100%;
	height:50px;
	background-color:RGB(093,071,139);
}
.antwort {
	visibility:hidden;
}
.text {
	position:relative;
	top:12px;
}

#kategorie-submit {
	width:13%;
	height:35px;
	font-weight:bold;
	border:solid 1px;
	border-radius:7px;
	border-color: RGB(66,66,66);
	font-size:16px;
	float:right;
	position:relative;
	right:0.5%;
	top:20px;
	background-color: RGB(248,248,255);
	color: RGB(66,66,66);
	cursor: pointer;
}

#kategorie-submit:hover {
	background-color:RGB(171,171,171);
}

#PwdTrue {
	border:solid 1px;
	border-color:green;
	font-size:22px;
	font-size:18px;
	font-weight:bold;
	color:rgba(66,66,66);
}

/*
  <--------------------------->
  <--------------------------->
  <----------frage------------>
  <--------------------------->
  <--------------------------->
*/

#stand {
    width: 70%;
    margin-left:10%;
    text-align: center;
    position: relative;
    top:20px;
}

#richtigbox {
    width: :100%;
    height: 30px;
    border: solid 2px green;
    
}
#richtig {
    font-size: 18px;
    color: green;
    font-weight: bold;
    position: relative;
    bottom:15px;
}

#falschbox {
    margin-top: 10px;
    width: :100%;
    height: 30px;
    border: solid 2px red;
}

#falsch {
    font-size: 18px;
    color: red;
    font-weight: bold;
    position: relative;
    bottom:15px;
}

#avatar {
    float: right;
    position: relative;
    right:25px;
}

#avatar1, #avatar2 {
   display: flex;
    margin-top: 40px;
}

.avatarp {
    position: relative;
    bottom:15px;
    left: 10px;
    left: 10px;
}

#spieleravatar {
    width: 80px;
    height: 80px;
    border: solid 2px rgba(093,071,139);
}

#computeravatar {
    width: 80px;
    height: 80px;
    border: solid 2px black;
}

#fragebox {
    width: 65%;
    height: 250px;
    margin-left: 10%;
    position: relative;
    top:50px;
}

#frage {
    font-size: 24px;
    font-weight: bold;
}

.antworten {
    font-size: 20px;
}

#fragensubmit {
    width:12%;
	height:25px;
	font-weight:bold;
	border:solid 1px;
	border-radius:7px;
	border-color: RGB(66,66,66);
	font-size:16px;
	background-color: RGB(248,248,255);
	color: RGB(66,66,66);
	cursor: pointer;
    position: relative;
    top:10px;
}

#fragensubmit:hover {
	background-color:RGB(171,171,171);
}

#timerbox {
    margin-left: 45%;
    position: relative;
    top:30px;
}
#timerline {
    position: relative;
    left:9%;
}
